#accredition
    background linear-gradient(160deg, #fff, #fff 60%, complement($val) 60%, complement($val)) 
    background linear-gradient(160deg, rgba(complement($val),.5), rgba(complement($val),.5) 60%, complement($val) 60%, complement($val)) 
    article 
        display flex
        flex-direction row
        flex-wrap wrap
        max-width 1280px
        margin auto
        align-items stretch
    .item:nth-child(2)
        // background complement($val)
        color #fff
        padding 1rem

        p
            font-size 1.4rem
            color #fff
        h3 
            color #fff
        a  
            color silver
    .item
        width 100%
        margin auto
        +above(520px)
            width 80%
        +above(640px)
            width 60%
        +above(780px)
            width 45%