.flext 
    display flex
    flex-direction row 
    flex-wrap wrap 
    justify-content space-between
    align-items center
    max-width 1280px
    margin auto 
    border 1px solid black
    .item 
        height 10rem 
        background linear-gradient(top left,red, green)
        margin .5rem auto
        width 100%
    +above(520px)
        .item 
            width 80%
    +above(640px)
        .item 
            width 60% 
    +above(780px)
        .item 
            width 45%
    +above(1020px)
        .item 
            width 30%

