footer 
    display flex
    flex-direction column
    justify-content center 
    align-items center
    border-top 2px solid #fff
    color #fff
    padding 1rem
    background $val
    line-height 1.6
    a  
        padding-left 1rem
        color silver