#home 
  background rgba(complement($val),0)
  padding-top 0
  +below(860px)
    background complement($val)
.wrapper
  display flex
  justify-content: space-between;
  align-items center
  height 100%
  flex-direction row
  flex-wrap wrap
  max-width 1200px
  margin 0 auto
  padding 0

.site-intro
    width 100%
    padding 0 1rem
    margin 2rem 0
    .biline 
      color $val
    .tagline 
      color complement($val)
      font-weight bold
    +below(850px)
        display flex
        flex-direction column
        justify-content center
        align-items center
        text-align center
    +above(860px)
      width 50%
.site-img
    display flex
    align-items center
    justify-content center  
    background-image url('./img/worker.png')
    background-repeat no-repeat
    background-size auto
    background-position center
    background-color rgba(255,255,255,0.8)
    background-blend-mode lighten    
    +above(860px)
      width 45%

.intro-ul
    align-self center
    font-size 1.5rem
    list-style none
    color complement($val)
    font-weight bold

    