.site-logo
    height 2rem
    max-width 50%
    margin  auto
    +above(860px)
        display none

.nav-logo
    height 1.6rem
    display none
    padding-right 1rem
    +above(860px)
        display block
.section-logo
    height 2rem
    transform rotate(-10deg)
    opacity .5