.site-logo
    height 2rem
    max-width 50%
    margin 2rem auto
    +above(720px)
        display none

.nav-logo
    height 2rem
    display none
    padding-right 1rem
    +above(720px)
        display block
.section-logo
    height 2rem
    // transform rotate(-10deg)
    