
.sticky
  position fixed
  top 0
  left 0
.static 
  position static
.navWrap
  width 100%
  border-top 2px solid complement($val)
  border-bottom 2px solid complement($val)
  +below(1020px)
    position fixed
    top 0
    left 0
  +above(1020px)
    padding 0
    width 100%
    height 3rem
    transition all 600ms ease-in-out
    z-index 9
    ul
      li
        a
          color #fff
          font-size 1.3rem

 @media(min-width:780px)
  .navWrap
    padding 2rem 0
    width 100%
    background #fff
    height 3rem
    transition all 600ms ease-in-out
    ul
      li
        a
          color $val
          font-size 1.3rem

  .small
    background linear-gradient(left,complement($val), $val)
    padding 1rem 0

    ul
      li
        a
          color #fff
          font-size 1.2rem

.liner
  display flex
  justify-content space-between
  background #fff
  height 100%
  align-items center
  max-width 1280px
  margin auto
  .gap
    flex 1
  @media(min-width:960px)
    max-width 1280px
  .mainNav

    @media (min-width: 960px)
      display block
      ul
        li
          display inline-block
          padding 0 .3rem
          a
            text-decoration none
.logoWrap
    z-index 999
    font-size 1.3rem
    padding .3rem
.inner 
  display flex
  flex-direction row
  align-items center
  color $val
  font-weight bold

.menuIcon
  border-radius:.2rem;
  width:2.4rem;
  border:.05rem solid $val;
  position:absolute;
  top:.6rem;
  right:.6rem;
  z-index 999

  @media (min-width: 960px)
     display none

.icon-bar
  height: .3rem;
  background-color: $val;
  margin: .3rem auto;
  width:85%;

@media(max-width:960px)
    .show
      display block
      opacity 1
      position fixed
      padding-top 3rem
      transition all .5s
      top 0
      left 0
      width 100%
      background #fff
      z-index 9
      ul
          width 100%
          padding-top 2rem
          
          li
              padding-bottom 1rem
              width 100%
              text-align center
              a
                  text-decoration none
                  font-size 1.1rem
                  color $val
                  text-align center
                  margin auto
    .hide
      // display none
      opacity 0

  

