.navWrap
  position fixed
  width 100%
  background skyblue
  height 3rem

.liner
  display flex
  justify-content space-between
  height 100%
  align-items center
  margin auto
  max-width 800px
  .mainNav

    @media (min-width: 720px)
      opacity 1
      display block
      ul
        li
          display inline-block
          padding 0 .3rem
          a
            color #fff
            text-decoration none

.menuIcon
  border-radius:.2rem;
  width:2.4rem;
  border:.05rem solid #fff;
  position:absolute;
  top:.6rem;
  right:.6rem;
  @media (min-width: 720px)
     display none

.icon-bar
  height: .3rem;
  background-color: #fff;
  margin: .3rem auto;
  width:85%;

@media(max-width:720px)
    .show
      opacity 1
      display block
      position fixed
      top 3rem
      left 0
      width 100%
      background skyblue
      ul
          li
              padding-bottom 1rem
              a
                  text-decoration none
                  font-size 1.1rem
                  color #fff
                  padding-top 2rem


.hide
  display none

  // .visible
  //   background:$special;
  //   color:#fff;
  //   display:block;
	// text-align:right;
	// float:right;
	// margin:0;
	// padding-top:2rem;
	// width:100%;
.temporary
    background transparent
    margin-top 2rem
