#section-4 
    article 
        display flex
        flex-direction row
        flex-wrap wrap
        max-width 1280px
        margin auto
        align-items stretch
    .item:nth-child(2)
        background $val
        color #fff
        padding 1rem
        border solid .5rem complement($val)
        p
            font-size 1.4rem
        h3 
            color #fff
    .item
        width 100%
        margin auto
        +above(520px)
            width 80%
        +above(640px)
            width 60%
        +above(780px)
            width 45%