#section-4 
    article 
        display flex
        flex-direction row
        flex-wrap wrap
        max-width 1280px
        margin auto
    .item
        width 100%
        margin auto
        +above(520px)
            width 80%
        +above(640px)
            width 60%
        +above(780px)
            width 45%