


h2
  font-size 3rem
.tagline
    font-size 2rem
.section
    padding 4rem 1rem

#section_2
    background olive
#section_3
    background teal
#section_4
    background maroon
#section_5
    background orange
