* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.navWrap {
  position: fixed;
  width: 100%;
  background: #87ceeb;
  height: 2rem;
}
.liner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: auto;
  max-width: 800px;
}
.liner .mainNav {
  display: none;
}
@media (min-width: 720px) {
  .liner .mainNav {
    display: block;
  }
  .liner .mainNav ul li {
    display: inline-block;
    padding: 0 0.3rem;
  }
  .liner .mainNav ul li a {
    color: #fff;
    text-decoration: none;
  }
}
.menuIcon {
  border-radius: 0.2rem;
  width: 2.4rem;
  border: 0.05rem solid #fff;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
}
@media (min-width: 720px) {
  .menuIcon {
    display: none;
  }
}
.icon-bar {
  height: 0.3rem;
  background-color: #fff;
  margin: 0.3rem auto;
  width: 85%;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  background: -webkit-linear-gradient(top left, #008000, #87ceeb);
  background: -moz-linear-gradient(top left, #008000, #87ceeb);
  background: -o-linear-gradient(top left, #008000, #87ceeb);
  background: -ms-linear-gradient(top left, #008000, #87ceeb);
  background: linear-gradient(to bottom right, #008000, #87ceeb);
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-size: 8rem;
  color: #000;
  text-shadow: 2px 2px 14px #ffa500;
}
#caption {
  font-size: 2rem;
}
.section {
  min-height: 40rem;
  padding-top: 4rem;
}
#section_1 {
  background: #fa8072;
}
#section_2 {
  background: #808000;
}
#section_3 {
  background: #008080;
}
#section_4 {
  background: #800000;
}
#section_5 {
  background: #ffa500;
}
