* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.navWrap {
  padding: 0;
  position: fixed;
  width: 100%;
  background: transparent;
  height: 3rem;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
.navWrap ul li a {
  color: #f00;
  font-size: 2rem;
}
@media (min-width: 780px) {
  .navWrap {
    padding: 2rem 4rem;
    position: fixed;
    width: 100%;
    background: transparent;
    height: 3rem;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
  }
  .navWrap ul li a {
    color: #fff;
    font-size: 2rem;
  }
  .small {
    background: #fff;
    padding: 0;
  }
  .small ul li a {
    color: #c0c0c0;
    font-size: 1.1rem;
  }
}
.liner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: #87ceeb;
  height: 100%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
@media (min-width: 780px) {
  .liner {
    background: transparent;
    max-width: 80%;
  }
}
@media (min-width: 780px) {
  .liner .mainNav {
    display: block;
  }
  .liner .mainNav ul li {
    display: inline-block;
    padding: 0 0.3rem;
  }
  .liner .mainNav ul li a {
    text-decoration: none;
  }
}
.logoWrap {
  z-index: 999;
  font-size: 1.5rem;
  padding: 0.3rem;
  border: 1px solid #000;
}
.menuIcon {
  border-radius: 0.2rem;
  width: 2.4rem;
  border: 0.05rem solid #fff;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  z-index: 999;
}
@media (min-width: 780px) {
  .menuIcon {
    display: none;
  }
}
.icon-bar {
  height: 0.3rem;
  background-color: #fff;
  margin: 0.3rem auto;
  width: 85%;
}
@media (max-width: 780px) {
  .show {
    display: block;
    position: fixed;
    padding-top: 3rem;
    top: 0;
    left: 0;
    width: 100%;
    background: #87ceeb;
  }
  .show ul li {
    padding-bottom: 1rem;
  }
  .show ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    padding-top: 2rem;
  }
}
.hide {
  display: none;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  background: -webkit-linear-gradient(top left, #008000, #87ceeb);
  background: -moz-linear-gradient(top left, #008000, #87ceeb);
  background: -o-linear-gradient(top left, #008000, #87ceeb);
  background: -ms-linear-gradient(top left, #008000, #87ceeb);
  background: linear-gradient(to bottom right, #008000, #87ceeb);
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-size: 5rem;
  color: #000;
  text-shadow: 2px 2px 14px #ffa500;
}
h2 {
  font-size: 3rem;
}
.tagline {
  font-size: 2rem;
}
.section {
  min-height: 40rem;
  padding-top: 4rem;
}
#section_1 {
  background: #fa8072;
}
#section_2 {
  background: #808000;
}
#section_3 {
  background: #008080;
}
#section_4 {
  background: #800000;
}
#section_5 {
  background: #ffa500;
}
